
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main {
    font-family: sans-serif;
    font-size: 1.5rem;
}

li {
    margin: 10px;
}
/* Print */
@media print {
    body {
      font-size: 12px;
    }
    main {
      padding: 0.5cm;
    }
  }
/* MOBILE */

@media screen  and (min-width:0px) and (max-width:480px){
    main{
        font-family: Arial, Helvetica, sans-serif;
        margin: 27px 52px 27px 48px;
    }

    h1{
        font-size: 4.6rem;
        margin-top: 2.5rem;
        font-weight: 700;
        color: #090909;
    }
    p,ol li{
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
        word-spacing: 0.1rem;
        color: #090909;
    }
    ol{
        padding-left: 6rem;
    }
    ol li{
        margin:1.5rem;
        padding-left: 0.5rem;
    }
}
/* Tablets */
@media screen and (min-width: 481px) and (max-width: 1155px) {
    main {
      margin: 20px 54px 20px 74px;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #b157ab;
    }
  
    h1 {
      font-size: 6.3rem;
      margin: 42px 0px 47px;
      color: #b157ab;
    }
  
    p,
    ol li {
      font-size: 3.1rem;
      margin-bottom: 3rem;
      word-spacing: 0.1rem;
    }
  
    ol {
      padding-left: 47px;
    }
  
    ol li {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  /* Desktop */
  @media screen and (min-width: 1156px) and (max-width: 1539px) {
    body{
        background-color: #f5ff76;
    }
    
    main {
      margin: 20px 50px 20px 80px;
      font-family: "Poppins", sans-serif;
    }
  
    h1 {
      font-size: 5.9rem;
      margin: 40px 0px 30px;
      color: #ae577c;
    }
  
    p,
    ol li {
      font-size: 3rem;
      margin-bottom: 3rem;
      word-spacing: 0.1rem;
      color: #ae577c;
    }
  
    ol {
      padding-left: 38px;
    }
  
    ol li {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    ol li::first-letter {
      font-size: 4rem;
      font-weight: bolder;
    }
  }
  
  
    
